
fieldset,
input {
  all: unset;
}


.Container {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    padding: 40px;
    align-items: center;
    justify-content: center;
  }

  .Label {
    font-size: 15px;
    width: 90px;
    text-align: right;
    font-weight: 500;
  }

  .Title {
    font-size: 22px;
    text-align: right;
    font-weight: 500;

  }
  
  .Input {
    width: 100%;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    box-shadow: 0 0 0 1px #DCDCDC;
    height: 35px;
    margin-top: 8px;
  }

  .Input:focus {
    box-shadow: 0 0 0 2px rgb(59 130 246 / 0.5);
  }

  .Fieldset {
    margin-bottom: 15px;
    display: block;
  }

  .Label2 {
    font-size: 15px;
    color: gray;
  }

  .A{
    color: rgb(59 130 246 );
    font-size: 15px;
  }








  