fieldset,
input {
  all: unset;
}

.Container {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    padding: 40px;
    align-items: center;
    justify-content: center;
  }

  .Label {
    font-size: 15px;
    width: 90px;
    text-align: right;
    font-weight: 500;
  }

  .Title {
    font-size: 22px;
    text-align: right;
    font-weight: 500;

  }
  
  .Input {
    width: 100%;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    box-shadow: 0 0 0 1px #DCDCDC;
    height: 35px;
    margin-top: 8px;
  }

  .Input:focus {
    box-shadow: 0 0 0 2px rgb(59 130 246 / 0.5);
  }

  .Title {
    font-size: 22px;
    text-align: right;
    font-weight: 500;

  }

  .Fieldset {
    margin-bottom: 15px;
    width: 95%;
    display: block;
  }

  .Label2 {
    font-size: 15px;
    color: gray;
  }

  .A{
    color: rgb(59 130 246 );
    font-size: 15px;
  }

  .radio {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30%;
  }
  
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio input:checked ~ .checkmark {
    background-color: rgb(59 130 246);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio input:checked ~ .checkmark:after {
    display: block;
  }

  .RadiosContainer{
    margin-top: 16px;
    display: flex;
  }
  